# Site settings
title: Literati
description: Your intelligent reading companion
url: ""
baseurl: "/literati_website"  # Change this to match your GitHub repo name

# Build settings
markdown: kramdown
exclude:
  - Gemfile
  - Gemfile.lock
  - node_modules
  - vendor
